<!DOCTYPE html>
<html lang="tr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MVC Proje_1</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
</head>

<body>
   
    @RenderBody();
    
    <!-- ---------------------------------Footer Bölümü------------------------------------------------- -->
    <footer>
        <div class="container-fluid nav-bar-top text-white text-center py-3">
            <hr>
            <p>Wissen Academia 2022</p>

        </div>

    </footer>



    <!-- ----------------------------Script Kodları------------------------------------------------------ -->
    <script src="script.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="./js/jquery-3.6.0.min.js"></script>
    <!-- ----------------------------Script Kodları Bitis------------------------------------------------------ -->
</body>

</html>