
@{ 
    HaberSitesi.Models.Kitaplar kitap = ViewBag.Kitap;
}

<div>
    <tr>
        <td>@kitap.ID </td>
        <td>@kitap.KitapAdi</td>
    </tr>
    <h1>İçerik</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae porro, ut omnis quas perspiciatis, dolorem aspernatur minus quam tempora maxime debitis? Suscipit tempore iusto officiis cum natus! Illo, expedita aperiam!</p>
</div>
