
@page
@{
    Layout = "";
}
@{
    Html.RenderPartial("header");
}

<!-- Content başlangici -->
<section>
    <p>Hakkımda</p>
</section>

<!-- Content bitişi -->


@{
    Html.RenderPartial("footer");
}