@{
    Layout = "_IcerikLayout";
    
}

<!-- ---------------------------------Baslik kısmı------------------------------------------------- -->
<header style="height:65px">
    <nav class="navbar fixed-top navbar-expand-lg navbar-light nav-bar-top ">
        <div class="container-fluid">
            <H1>BASLİK</H1>
        </div>
    </nav>
</header>
<!-- ---------------------------------Section Bölümü------------------------------------------------- -->
<section class="mt-5">
    <div class="container-fluid  nav-bar-top">

        <p>İÇERİK</p>

    </div>

</section>
