
<div class="container-fluid  nav-bar-top">
    <div class="row">
        <div class="col-sm-6">
            <div class="card mt-4">
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem soluta
                        doloribus ab esse ut velit inventore. Provident unde quod mollitia illum nesciunt ullam
                        totam cupiditate explicabo harum modi. Inventore dignissimos voluptate rem eaque
                        recusandae cumque omnis velit nobis tempore ducimus, perferendis aut labore minus
                        consequatur quia delectus culpa? Facilis quis perferendis reprehenderit tempora enim
                        nisi vero voluptate consequatur. In, eum.
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card mt-4">
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem soluta
                        doloribus ab esse ut velit inventore. Provident unde quod mollitia illum nesciunt ullam
                        totam cupiditate explicabo harum modi. Inventore dignissimos voluptate rem eaque
                        recusandae cumque omnis velit nobis tempore ducimus, perferendis aut labore minus
                        consequatur quia delectus culpa? Facilis quis perferendis reprehenderit tempora enim
                        nisi vero voluptate consequatur. In, eum.
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid  nav-bar-top">
    <div class="row">
        <div class="col-sm-6">
            <div class="card mt-4">
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem
                        soluta doloribus ab esse ut velit inventore. Provident unde quod mollitia illum
                        nesciunt ullam totam cupiditate explicabo harum modi. Inventore dignissimos
                        voluptate rem eaque recusandae cumque omnis velit nobis tempore ducimus, perferendis
                        aut labore minus consequatur quia delectus culpa? Facilis quis perferendis
                        reprehenderit tempora enim nisi vero voluptate consequatur. In, eum.
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card mt-4">
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem
                        soluta doloribus ab esse ut velit inventore. Provident unde quod mollitia illum
                        nesciunt ullam totam cupiditate explicabo harum modi. Inventore dignissimos
                        voluptate rem eaque recusandae cumque omnis velit nobis tempore ducimus, perferendis
                        aut labore minus consequatur quia delectus culpa? Facilis quis perferendis
                        reprehenderit tempora enim nisi vero voluptate consequatur. In, eum.
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="card mt-4">
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem
                        soluta doloribus ab esse ut velit inventore. Provident unde quod mollitia illum
                        nesciunt ullam totam cupiditate explicabo harum modi. Inventore dignissimos
                        voluptate rem eaque recusandae cumque omnis velit nobis tempore ducimus, perferendis
                        aut labore minus consequatur quia delectus culpa? Facilis quis perferendis
                        reprehenderit tempora enim nisi vero voluptate consequatur. In, eum.
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card mt-4">
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <p class="card-text">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem
                        soluta doloribus ab esse ut velit inventore. Provident unde quod mollitia illum
                        nesciunt ullam totam cupiditate explicabo harum modi. Inventore dignissimos
                        voluptate rem eaque recusandae cumque omnis velit nobis tempore ducimus, perferendis
                        aut labore minus consequatur quia delectus culpa? Facilis quis perferendis
                        reprehenderit tempora enim nisi vero voluptate consequatur. In, eum.
                    </p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>

    </div>
