@model List<DersBlogSitesi.Models.Makale>

<div class="container-fluid  nav-bar-top">
    <div class="row">
        @{
            foreach (var makaleler in Model)
            {

                <div class="col-sm-6">
                    <div class="card mt-4">
                        <div class="card-body">
                            <h5 class="card-title">@makaleler.Header @makaleler.ID</h5>
                            <p class="card-text">
                                @makaleler.Content
                            </p>
                            <a href="MakaleIcerik" id="@makaleler.ID" class="btn btn-primary">Git</a>
                        </div>
                    </div>
                </div>

            };
        }
    </div>

    </div>

