@{
    Layout = "_Layout";
    ViewBag.title = "Anasayfa";
}

<section class="d-flex" style="text-align:center;justify-content:center">
    <div style="display:block">
        <h1>HOŞ GELDİNİZ</h1>
    </div>
    <div>
        <h1>Benim Adım Recep</h1>
    </div>
   
  
   
</section>